<div class="row">
  <div class="col-md-12 about-page static-page">
    <h1>A propos du site et de son createur</h1>
    <h3>Presentation</h3>
    <p>
      Bonjour, comme tu peux t'en douter, je suis un joueur de Dofus. Actuellement
      je joue uniquement sur le serveur Ilyzaelle. Je suis un ancien joueur de
      Farle (actuellement Meriana).
    </p>
    <h3>Naissance du site</h3>
    <p>
      L'elevage a toujours quelque chose que j'ai
      apprecie dans le jeu. Sur Ilyzaelle je me suis lance sur les succes elevages
      et apres avoir fini les succes sur les dragodindes, je voulais me lancer
      dans les succes Muldos. Malheureusement, les problemes de conflits
      genetiques ne me donnaient vraiment pas envie de m'y lancer. La methode
      classique des noms de monture me semblait etre vraiment un casse tete.
      J'ai donc cree ce site tout d'abord pour mon usage personnel, et si d'autres
      eleveurs veulent aussi l'utiliser pour leur elevage et me donner leur avis
      pour l'ameliorer, je serais ravi.
    </p>
  </div>
</div>