<div class="row">
  <div class="col-md-12 contact-page static-page">
    <h1>Contact</h1>
    <p> Tu peux poser tes questions ou donner ton avis sur le discord du site. </p>
    <%= link_to image_tag('discord-logo.png', alt: 'discord-logo', class: 'discord-logo'), '#' %>
  </div>
</div>
