<div class="row">
  <div class="col-md-12 help-page static-page">
    <h1>Aide a l'utilisation du site</h1>
    <h3>Fonctionnement du site</h3>
    <p>
      Une fois inscrit sur ce site, tu pourras enregistrer les montures de ton elevage
      et gerer leur accouplement. Pour cela, il existe une page listant toutes
      les montures enregistrees (muldos ou dragodindes). Pour chaque monture, sa
      couleur, son sexe, son nombre de reproductions restantes et son status
      reproductif est inscrit. Sur cette page, tu peux aussi ajouter de nouvelles
      montures, ou accoupler les montures deja existantes. Des filtres simples
      (Toutes les montures, uniquement les montures fertiles, uniquement les
      montures fecondees) te permet aussi de gerer plus facilement ton cheptel.
      En cliquant sur le nom d'une monture, tu seras redirige vers une page avec
      les details sur la monture.
    </p>
    <h3>Details de monture</h3>
    <p>
      Sur la page d'une monture, tu pourras en plus des informations deja presentes
      sur la liste de monture, voir son arbre genealogique comme sur le jeu.
      Pour gerer les arbres genealogiques il faut pour le moment rentrer les
      montures parentes sur le site puis les reproduire entre elles. Il n'existe
      pour le moment pas de systeme pour a posteriori assigner des parents a une
      monture deja enregistree sur le site.
    </p>

    <h3>Accouplement de montures</h3>
    <p>
      Si une monture est fertile, il y aura sur sa page perso ou sur sa ligne
      dans la liste de monture un bouton 'Accoupler' qui renvoit vers une page
      listant toutes les montures compatibles pouvant se reproduire avec la
      monture choisie. Tu peux choisir le partenaire de la monture en cliquant
      sur le bouton 'Reproduire'. Cette action changera le status de la monture
      femelle vers le status 'Fecondee'. Avec ce nouveau
      status, le bouton 'Accoupler' se transforme en 'Mettre bas', qui renvoit
      vers une page permettant d'enregistrer les nouveaux nes. Les parents de ces
      nouvelles montures etant deja inscrits sur le formulaire.
    </p>
    <h3>Gestion de la consanguinite chez les Muldos</h3>
    <p>
      Pour un elevage classique de dragodindes, il n'y a pas vraiment besoin
      d'utiliser un tel site pour s'en occuper. L'interet apparait surtout pour
      les elevages de Muldos qui peuvent avoir des conflits genetiques baissant
      leur nombre de reproductions maximal. Par default, pour les Muldos, la
      liste de partenaires ne montrent que les Muldos "non consanguins".
      Il faut noter que la solution apportee par le site ne garantie pas
      l'absence de conflits genetiques chez les Muldos issus des croisements fait
      avec le site. Il essaye de reduire la probabilite de ses conflits en ne
      proposant que des partenaires n'ayant aucun ancetre en commun dans les 5
      generations anterieures. Si aucun croisement consanguin n'a jamais ete fait
      dans l'elevage, ce critere devrait reduire tres fortement le risque de
      conflits genetiques. <br>
      Je suis conscient que la solution n'est pas parfaite. Si tu as des
      pistes d'ameliorations pour ce probleme n'hesites pas a les proposer sur
      le discord.
    </p>

  </div>
</div>