<div class="row">
  <div class="col-md-12 home-page static-page">
    <h2>Bienvenue sur DofusElevage !</h2>
    <p>Sur ce site tu pourras gerer ton elevage de dragodindes et de muldos.<br>
    Un systeme gerant la consanguinite existe pour les muldos.
    Tu peux en apprendre plus sur <%= link_to "la page d'aide", help_path %>. Bon jeu et bon elevage !</p>
    <p>Tu es nouveau ? Inscrit toi <%= link_to ">ici<", sign_up_path %> !</p>
  </div>
</div>