<div class="row">
  <div class="col-md-12 mount-page">
    <% if path == 'breed' %>
      <h3>Choose a mates for <%= @mount.name %></h3>
    <% else %>
      <%= link_to('New mount', new_mount_path, class: "btn btn-info new-mount") %>
    <% end %>
    <li class="mount mount-legend">
      <span class="mount-name">Name</span>
      <span class="mount-color">Color</span>
      <span class="mount-sex">Sex</span>
      <span class="mount-reproduction">Repro</span>
      <span class="mount-pregnant">Fertility</span>
      <span class="mount-button"></span>
    </li>
    <% if mounts.any? %>
      <ol class="mount-list">
        <%= render mounts, path: path %>
      </ol>
      <%= will_paginate mounts %>
    <% end %>
  </div>
</div>