<div class="global-mount-form">
  <h2 class="form-name">New mount</h2>
  <%= form_tag(birth_create_mounts_path, method: 'post', class: "form-content") do %>
    <% @children.each_with_index do |child, index| %>
      <div class="mount-form test-form form-content">
        <%= fields_for "children[#{index}]", child do |f| %>
         <%= render 'shared/mount_form_two', f: f, birth: true %>
      <% end %>
      </div>
    <% end %>
    <%= submit_tag 'Give birth', class: "btn btn-success" %>
  <% end %>
</div>