<div class="row">
  <div class="col-md-12 mount-page">
    <div>
      <h3>Choose a mates for <%= @mount.name %></h3>
    </div>
    <li class="mount mount-legend">
      <span class="mount-name">Name</span>
      <span class="mount-color-img"></span>
      <span class="mount-color">Color</span>
      <span class="mount-sex">Sex</span>
      <span class="mount-reproduction">Reproduction</span>
      <span class="mount-pregnant">Fertility</span>
      <span class="mount-button"></span>
    </li>
    <% if @mates.any? %>
      <ol class="mount-list">
        <%= render @mates, path: 'breed'%>
      </ol>
      <%= will_paginate @mates %>
    <% end %>
  </div>
</div>