<div class="row">
  <div class="col-md-6 offset-md-3 mount-form">
    <%= render 'shared/mount_form', form_url: mounts_path,
               button_text: "Add mount", form_title: 'New mount' %>
  </div>
</div>