<%= link_to 'Edit', edit_mount_path(mount), class: "btn btn-info mount-edit" %>

<% if mount.pregnant %>
  <span class="dropdown">
          <button class="btn btn-warning mount-give-birth dropdown-toggle"
                  type="button" id="birth-number" data-toggle="dropdown">Birth</button>
          <div class="dropdown-menu dropdown-menu-right birth-dropdown-menu"
               aria-labelledby="birth-number">
            <%= link_to '+1', birth_mount_path(mount.id, n_child: 1),
                        class: "btn btn-warning mount-edit" %>
            <%= link_to '+2', birth_mount_path(mount.id, n_child: 2),
                        class: "btn btn-warning mount-edit" %>
          </div>
        </span>
<% elsif mount.sterile? %>
  <button class="btn btn-danger mount-sterile">Sterile</button>
<% else %>
  <%= link_to 'Breed', breed_mount_path(mount.id),
              class: "btn btn-success mount-breed" %>
<% end %>