<div class="row">
  <div class="col-md-6 offset-md-3 mount-form">
    <%= render 'shared/mount_form', form_url: muldos_path,
               button_text: "Add muldo", form_title: 'New muldo' %>
  </div>
</div>