@import "bootstrap-sprockets";
@import "bootstrap";


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL CSS */
$roboto-font: "Roboto", sans-serif;
$mywhite: #fefefe;
$myblack: #222222;
$mydarkgrey: #404040;
$mygrey: #898989;
$mylightgrey: darken($mywhite, 3);
$myyellow: #f9d0a7;
$mygreen: #449D44;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @include box_sizing;
  font-family: $roboto-font;
  line-height: 1.4;
  padding: 60px 30px 30px;
  background-color: $myyellow;
  color: $mydarkgrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  margin-bottom: 15px;
  font-weight: 700;
}

h2 {
  font-size: 2em;
}

section {
  overflow: auto;
}

a {
  color: $mygrey;
}


%shadow {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.main-container {
  padding: 20px;
  margin: 0px 20px;
}

/* HEADER CSS */

header {
  padding: 0px 20px;
  background-color: $myblack;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $mywhite;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $myyellow;
  text-decoration: none;
}


/* FOOTER CSS */

footer {
  margin-top: 45px;
  padding-top: 5px;
  background-color: $myblack;
  color: $mywhite;
}

footer ul {
  float: right;
  list-style: none;
}

 footer ul:after {
   clear: both;
 }

footer ul li {
  float: left;
  margin-left: 15px;
}


/* ASIDE NAV CSS */

#nav-aside {
  position: fixed;
  left: 0px;
  top: 50px;
  bottom: 0px;
  background-color: $myblack;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.side-icon {
  font-size: 1.6em;
  padding: 5px;
  border-bottom: 1px solid $mywhite;
}

.side-icon:hover {
  text-decoration: none;
  color: $mywhite;
}
/* FORM CSS */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
  margin-bottom: 15px;
}
textarea {
  resize: vertical;
}

%form {
  margin-top: 2vh;
  border-radius: 7px;
  @extend %shadow;
  padding: 0px;
  border-top: 10px solid $myblack;
  background-color: $mywhite;
}
#error_explanation {
  ul {
    color: #a94442;
    margin: -5px 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.form-content {
  padding: 20px;
}

.form-name {
  padding: 0px 20px;
}
.mount-form {
  @extend %form;
  h2 {
    background-color: $myblack;
    color: $mywhite;
  }
}

/* MOUNT CSS */
.mount-page {
  background-color: $mywhite;
  padding: 20px;
  border-radius: 7px;
  @extend %shadow;
}
li.mount {
  clear: both;
  border: $myblack solid 1px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 8px;
  padding: 5px;
  background-color: $mywhite;
  display: flex;
  align-items: center;
  span {
    padding: 0px 7px;
  }
}
.mount-legend {
  background-color: $mylightgrey;
  margin-top: 20px;
  .mount-img {
    background-color: inherit;
  }
}
.mount-img {
  height: 35px;
  width: 35px;
  background-color: black;
  margin: 0px 7px;
}
.mount-name {
  border-right: $myblack solid 1px;
  flex-basis: 15%;
}
.mount-color {
  border-right: $myblack solid 1px;
  flex-basis: 15%;
}
.mount-sex {
  border-right: $myblack solid 1px;
  flex-basis: 13%;
}
.mount-reproduction {
  border-right: $myblack solid 1px;
  flex-basis: 18%;
}
.mount-pregnant {
  border-right: $myblack solid 1px;
  flex-basis: 15%;
}

.new-mount {
  float: right;
  font-weight: 700;
}